@media screen and (max-width: 768px) {
    .main .row{
        flex-direction: column !important;
        row-gap: 20px;text-align: center !important;
    }
    .main .row .col,
    .main .row .col-2,
    .main .row .col-3,
    .main .row .col-4,
    .main .row .col-5,
    .main .row .col-6,
    .main .row .col-7,
    .main .row .col-8 
    {
        width: 100%;
        text-align: center !important;
    }
}