.btn-floating {
    width: 2.3125rem;
    height: 2.3125rem;
    border-radius: 50%;
  }

@media screen and (max-width:1024px) {
    .login form.row .col-7{
        width: 80%;
    }
    .bg-img{
        width: 80% !important;
    }
}

@media screen and (max-width: 768px) {
    .create-shop .row{
        flex-direction: column !important;
        row-gap: 20px;
        /* text-align: center !important; */
    }
    .login form.row .col-7,
    .create-shop .row .col,
    .create-shop .row .col-2,
    .create-shop .row .col-3,
    .create-shop .row .col-4,
    .create-shop .row .col-5,
    .create-shop .row .col-6,
    .create-shop .row .col-7,
    .create-shop .row .col-8 
    {
        width: 100%;
        /* text-align: center !important; */
    }
    .form-inner{
        padding-left:20px !important;
        padding-right:20px !important;
    }
    .bg-img{
        width: 100% !important;
    }
}